{{#partial "contents"}}
<div class="row" style="margin-top: 100px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center">문의글 작성하기</h2><p></p>
        <form action="/support" method="post">
            <div class="table table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>작성자</td>
                        <td><input type="text"  class="form-control" name="writer"></td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td><input type="text"  class="form-control" name="subject" value="[답변]"></td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td><input type="email"  class="form-control" name="email"></td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td><input type="password"  class="form-control" name="password"></td>
                    </tr>
                    <tr>
                        <td>글내용</td>
                        <td><textarea rows="10" cols="50" name="content" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2"  class="text-center">
                            <input type="hidden" name="num"  value="">
                            <input type="hidden" name="ref"  value="">
                            <input type="hidden" name="ref_step"  value="">
                            <input type="hidden" name="ref_level"  value="">
                            <input type="submit" value="답글쓰기완료" class="btn btn-success">
                            <input type="reset" value="취소" class="btn btn-warning">
                            <input type="button"  class="btn btn-primary" onclick="location.href='BoardList.jsp'" value="전체글보기">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
{{/partial}}

{{> base }}