<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="A layout example that shows off a responsive product landing page." name="description">
    <title>SoMoonShop &ndash; Proto &ndash; Home</title>
    <link href="../css/layouts/pure.css" rel="stylesheet">
    <link href="../css/layouts/marketing.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>
<div>
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Home</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="#">Home</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="#">Tour</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="sign">Sign Up</a></li>
        </ul>
    </div>
</div>
<div class="footer l-box is-center">
    View the source of this layout to learn more. Made with love by the YUI Team.
</div>
</body>

</html>
